.page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.page-container {
  width: 1440px;
  margin: 0 auto;
}

.intro {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: rgb(238, 238, 238);
}

.intro__container {
  width: 1150px;
  margin: 0 auto;
}

.intro p {
  width: 779px;
  margin: 0 auto;
  margin-bottom: 64px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -2%;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 75px;
  line-height: 75px;
  letter-spacing: -2%;
  text-align: center;
}

.download {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.download__item {
  position: relative;
  width: 270px;
  min-height: 110px;
  margin-right: 30px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}

.download__item:last-child {
  margin-right: 0;
}

.download__link {
  display: flex;
  height: 100%;
  padding-left: 94px;
  padding-right: 34px;
  align-items: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.download__link--app-store::before {
  content: url("../img/apple_logo.svg");
  height: 60px;
  width: 60px;
  position: absolute;
  left: 21px;
  top: 50%;
  margin-top: -30px;
}

.download__link--google-store::before {
  content: url("../img/Google_Play_logo.svg");
  height: 60px;
  width: 60px;
  position: absolute;
  left: 21px;
  top: 50%;
  margin-top: -30px;
}

.chess {
  position: relative;
  background-color: rgb(0, 0, 0);
  padding-bottom: 85px;
}

.chess img {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.chess h2 {
  width: 750px;
  margin: 0 auto;
  margin-top: -150px;
  padding: 0;
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: -2%;
  color: rgb(255, 255, 255);
}

.chess__button {
  width: 80px;
  height: 80px;
  border: 0;
  padding: 0;
  position: absolute;
  top: 573px;
  background-color: rgb(0, 0, 0);
  outline: none;
}

.chess__button--left {
  left: 57px;
  background-image: url("../img/arrow-left.svg");
  background-position: cover;
  background-repeat: no-repeat;
}

.chess__button--right {
  right: 57px;
  background-image: url("../img/arrow-right.svg");
  background-position: cover;
  background-repeat: no-repeat;
}

.chess__button:hover,
.chess__button:focus {
  transform: scale(1.2);
  outline: none;
}

.chess__button:active {
  opacity: 0.3;
  outline: none;
}

.other-variants {
  padding-top: 104px;
  padding-bottom: 200px;
}

.other-variants__header {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: -2%;
}

.other-variants__list {
  min-height: 310px;
  margin: 0 76px;
  padding: 0;
  display: grid;
  grid-template-columns: 384px 420px 384px;
  column-gap: 50px;
  text-align: center;
  list-style: none;
}

.other-variants__item {
  position: relative;
  padding-top: 168px;
}

.other-variants__item h3 {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: -2%;
}

.other-variants__item p {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: -2%;
}

.other-variants__item--home::before {
  content: url("../img/lightbulb-icon.png");
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -75px;
}

.other-variants__item--out-of-home::before {
  content: url("../img/browse-icon.png");
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -75px;
}

.other-variants__item--ask-friend::before {
  content: url("../img/tel-icon.png");
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -75px;
}
